<app-navbar></app-navbar>

<section class="contact pb-5">
    <h1 class="text-center pb-3">{{'contact.title' | translate }}</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <form class="form">
                    <div class="row">
                        <div class="col">
                            <div class="mb-4">
                                <input type="text" class="form-control" id="inputName" placeholder="{{'contact.first-name' | translate }}">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-4">
                                <input type="text" class="form-control" id="inputLastName" placeholder="{{'contact.last-name' | translate }}">
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <input type="email" class="form-control" id="inputEmail" placeholder="{{'contact.email' | translate }}">
                    </div>
                    <div class="mb-4">
                        <input type="text" class="form-control" id="inputSubject" placeholder="{{'contact.subject' | translate }}">
                    </div>
                    <div class="mb-4">
                        <textarea class="form-control" id="message-area" name="message-area" rows="4" cols="50"
                            placeholder="{{'contact.message' | translate }}"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary text-center">{{'contact.submit' | translate }}</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="info">
                    <span class="info-email">{{'footer.ft-email'| translate}}:
                        kathia.hernz@kscwatersolutions.com</span>
                    <span>{{'footer.ft-phone'| translate}}: (506) 8834-0502 </span>
                    <span>{{'footer.ft-socialntw'| translate}}:</span>
                    <div>
                        <a href="https://m.facebook.com/KSC-Water-Key-Solutions-SA-103463398635235/" target="blank"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href=""><i class="fab fa-youtube fa-2x" style="color: red;"></i></a>
                    </div>
                    <a class="btn btn-success" href="">¡{{'contact.whatsapp'| translate}}! <i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>