
/*Contact*/

.contact{
    padding-top: 2.5rem;
}

.contact a{
    display: inline-block;
    padding-right: 1rem;
}

.contact h1{
    font-size: 1.5rem;
    color: var(--blue);
}

.contact .info{
    margin-left: 5rem;
}

.contact .info a[class*="btn"]{
    margin-bottom: 2rem;
}

.contact .info span{
    display: block;
    margin-bottom: 2rem;
    font-weight: 200;
}

.form{
    font-weight: 200;
}

@media (max-width: 992px) {
    .contact .info{
        margin-top: 1.4rem !important;
        margin-left: 0 !important;
        text-align: center;
    }
    .contact .info a[class*="btn"]{
        margin-top: 1rem;
    }
}

@media (max-width: 310px) {
    .info{
        font-size: 0.9rem;
    }
}