<app-navbar></app-navbar>

<section class="contact pb-5">
    <h1 class="text-center pb-3">{{'contact.title' | translate }}</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <form class="form" name="contact-form" method="POST" data-netlify="true">
                    <div class="row">
                        <div class="col">
                            <div class="mb-4">
                                <input type="text" class="form-control" name="inputName"
                                    placeholder="{{'contact.first-name' | translate }}" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-4">
                                <input type="text" class="form-control" name="inputLastName"
                                    placeholder="{{'contact.last-name' | translate }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <input type="email" class="form-control" name="inputEmail"
                            placeholder="{{'contact.email' | translate }}" required>
                    </div>
                    <div class="mb-4">
                        <input type="text" class="form-control" name="inputSubject"
                            placeholder="{{'contact.subject' | translate }}" required>
                    </div>
                    <div class="mb-4">
                        <textarea class="form-control" name="message-area" rows="4" cols="50"
                            placeholder="{{'contact.message' | translate }}" required></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary text-center">
                            {{'contact.submit' | translate }}</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="info">
                    <span class="info-email">{{'footer.ft-email'| translate}}: info@kscwatersolutions.com</span>
                    <span>{{'footer.ft-phone'| translate}}: +506 8834-0502 </span>
                    <span>{{'footer.ft-socialntw'| translate}}:</span>
                    <div>
                        <a href="https://m.facebook.com/KSC-Water-Key-Solutions-SA-103463398635235/" target="blank"><i
                                class="fab fa-facebook fa-2x"></i></a>
                    </div>
                    <a class="btn btn-success" href="https://wa.me/50688340502">¡{{'contact.whatsapp'| translate}}! <i
                            class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>