<app-navbar></app-navbar>

<section class="contact pb-5">
    <h1 class="text-center mt-5 pb-3">Contact us</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <form class="form">
                    <div class="row">
                        <div class="col">
                            <div class="mb-4">
                                <input type="text" class="form-control" id="inputName" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-4">
                                <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="mb-4">
                        <input type="text" class="form-control" id="inputSubject" placeholder="Subject">
                    </div>
                    <div class="mb-4">
                        <textarea class="form-control" id="message-area" name="message-area" rows="4" cols="50"
                            placeholder="Message"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary text-center">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="info">
                    <span class="info-email">Email: kathia.hernz@kscwatersolutions.com</span>
                    <span>Phone: (506) 8834-0502</span>
                    <span>Social Networks:</span>
                    <div>
                        <a href=""><i class="fab fa-facebook fa-2x"></i></a>
                        <a href=""><i class="fab fa-youtube fa-2x" style="color: red;"></i></a>
                    </div>
                    <a class="btn btn-success" href="">¡Contact us via WhatsApp!</a>
                </div>
            </div>
        </div>
    </div>
</section>