<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="navbar-brand navbar-text" href="#">
                    <img class="footer-logo" src="./assets/img/logo-large.jpg" alt="Logo">
                </a>
                <h4 class="slogan">¡Gestión de Recurso Hídrico
                    Especializado!</h4>
            </div>

            <div class="col">
                <div class="footer-contact">
                    <h4>Contact</h4>
                    <span>Phone: (506) 8834-0502</span>
                    <span>Email:
                        kathia.hernz@kscwatersolutions.com</span>
                    <span>Redes Sociales:</span>
                    <div>
                        <a href=""><i class="fab fa-facebook fa-2x pr-3"></i></a>
                        <a href=""><i class="fab fa-youtube fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>