<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <a class="navbar-brand navbar-text" routerLink="/">
                    <img src="./assets/img/logo.jpg" alt="Logo">
                </a>
                <h4 class="slogan">¡Gestión de Recurso Hídrico
                    Especializado!</h4>
            </div>
            <div class="col-lg-4 col-md-12 footer-links">
                <h4>{{'footer.ft-links'| translate}}</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">{{'navbar.nav-home'| translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about-us">{{'navbar.nav-about'| translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/projects">{{'navbar.nav-proj'| translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact">{{'navbar.nav-contact'| translate}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer-contact">
                    <h4>{{'footer.ft-contact'| translate}}</h4>
                    <h5>{{'footer.ft-phone'| translate}}: +506 8834-0502</h5>
                    <h5 class="footer-email">Email: info@kscwatersolutions.com</h5>
                    <h5>{{'footer.ft-socialntw'| translate}}:</h5>
                    <div>
                        <a target="blank" href="https://www.facebook.com/KSC-Water-Key-Solutions-SA-103463398635235/?_rdr"><i class="fab fa-facebook fa-2x pr-3"></i></a>
                        <!--<a routerLink=""><i class="fab fa-youtube fa-2x" style="color: red;"></i></a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>