<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <a class="navbar-brand navbar-text" href="/">
                    <img src="./assets/img/logo-large2.jpg" alt="Logo">
                </a>
                <h4 class="slogan">¡Gestión de Recurso Hídrico
                    Especializado!</h4>
            </div>
            <div class="col-lg-4 col-md-12 footer-links">
                <h4>{{'footer.ft-links'| translate}}</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/">{{'navbar.nav-home'| translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about-us">{{'navbar.nav-about'| translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">{{'navbar.nav-serv'| translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/projects">{{'navbar.nav-proj'| translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">{{'navbar.nav-contact'| translate}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer-contact">
                    <h4>{{'footer.ft-contact'| translate}}</h4>
                    <span>Telefono: +506 8834-0502</span>
                    <span class="footer-email">Email: kathia.hernz@kscwatersolutions.com</span>
                    <span>{{'footer.ft-socialntw'| translate}}:</span>
                    <div>
                        <a href=""><i class="fab fa-facebook fa-2x pr-3"></i></a>
                        <a href=""><i class="fab fa-youtube fa-2x" style="color: red;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>