/*Carousel*/

.carousel-style img{
    min-height: 20rem;
    max-height: 100vh;
    margin-left: 50%;
    transform: translateX(-50%);
}

.caption-size{
    bottom: 42%;
    text-transform: uppercase;
}

.caption-size h5{
    font-size: 2rem;
}

@media (max-width: 1245px) {
    .caption-size h5{
        font-size: 2rem;
    }
}

@media (max-width: 730px) {
    .caption-size h5{
        font-size: 1.5rem;
    }
}

/*Home about*/

.about {
    margin: 0 auto;
    padding: 4rem 0;
}

.about h1{
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 2.5rem;
}

@media (max-width: 915px) {
    .about h1{
        font-size: 1.15rem;
    }
}

@media (max-width: 310px) {
    .about{
        padding-top: 3rem !important;
    }
}

@media (max-width: 415px) {
    .about h1{
        line-height: 1.8rem;
    }
    .carousel-control-prev, .carousel-control-next{
        display: none;
    }
    .services-title{
        font-size: 1.8rem;
    }
}

/*Home services*/

.bg-services{
    background-image: url("../../../assets/img/backgrounds/services-bg.jpeg");
    background-position: center;
    background-size: cover;
    max-width: 100%;
}

.services-title{
    font-weight: 400;
    padding: 6.3rem 0;
    font-size: 2rem;
}

.content-container ul li{
    font-weight: 200;
    margin-bottom: 1rem;
}

.content-container p{
    line-height: 2rem;
}

.content-container h3{
    font-weight: 400 !important;
    font-size: 1.4rem;
    margin: 2rem 0;
    text-transform: uppercase;
    color: rgb(2, 49, 179);
}

.content-container p{
    line-height: 1.8rem;
    font-weight: 200;
}

.paragraph-size{
    width: 75%;
    text-align: justify !important;
}

@media (max-width: 615px) {
    .content-container{
        padding: 0 1rem;
    }
}

@media (max-width: 990px) {
    .paragraph-size{
        width: 100%;
    }
}