<app-navbar></app-navbar>

<header class="header">
    <div class="row">
        <div class="col header-text">
            <h1 data-aos="zoom-out-right">¡Gestión de Recurso Hídrico
                Especializado!
                <!--{{'home.first-slide' | translate }}-->
            </h1>
            <p data-aos="zoom-out-right" data-aos-delay="600">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Maiores laudantium iusto, libero
                beatae veritatis adipisci totam corporis mollitia
                cupiditate expedita illum. Voluptatum voluptates.</p>
            <a class="btn btn-primary" data-aos="flip-right" data-aos-delay="700" href="">Learn More</a>
        </div>
    </div>
</header>

<!--
<div class="carousel-style">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/img/carrousell-image3.jpeg" class="d-block w-100" alt="carrousell-image2">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="animate__animated animate__fadeInUp">{{'home.first-slide' | translate }}</h5>
                    <p class="animate__animated animate__fadeInUp animate__delay-1s">Some representative placeholder content for the
                        First slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
-->

<section class="home-about">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="pb-4">About Us</h2>
                <p class="pb-4 text-justify">Lorem Ipsum es simplemente el
                    texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto
                    de relleno estándar de las industrias desde el año 1500.Lorem Ipsum es simplemente el
                    texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto
                    de relleno estándar de las industrias desde el año 1500.
                    Lorem Ipsum es simplemente el
                    texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto
                    de relleno estándar de las industrias desde el año 1500.s</p>
                <a class="btn btn-outline-primary" href="">Learn more</a>
            </div>
            <div class="col">
                <img src="../../../assets/img/wa5.jpeg" alt="">
            </div>
        </div>
    </div>
</section>



<app-contact-bar></app-contact-bar>

<app-footer></app-footer>