<app-navbar></app-navbar>

<div class="carousel-style text-white">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/img/carousel-images/home-carousel/image_1.jpeg" alt="">
                <div class="carousel-caption d-md-block caption-size">
                    <!--{{'home.first-slide' | translate }}-->
                    <h5>Concesión de agua superficial y subterranea</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/carousel-images/home-carousel/image_2.jpeg" alt="">
                <div class="carousel-caption d-md-block caption-size">
                    <h5>Prueba de bombeo en pozos profundos</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/carousel-images/home-carousel/image_3.jpeg" alt="">
                <div class="carousel-caption d-md-block caption-size" style="bottom: 38% !important;">
                    <h5>Asesoria en la gestión de proyectos y construcción de acueductos</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/carousel-images/home-carousel/image_4.jpeg" alt="">
                <div class="carousel-caption d-md-block caption-size">
                    <h5>Permisos de perforación</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/carousel-images/home-carousel/image_5.jpeg" alt="">
                <div class="carousel-caption d-md-block caption-size">
                    <h5 class="animate__animated animate__fadeInUp">Construcción de pozos artesanales</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<section class="about w-75">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="pb-3">
                    <span style="font-weight: bold;">KSC Water Key Solutions S.A</span> es una empresa preparada y con
                    amplia experiencia en la gestión integral del recurso hídrico en Costa Rica. Somos una empresa
                    conformada por un equipo calificado y formado profesionalmente para dar soluciones de agua a
                    proyectos donde el abastecimiento público no ha podido llegar o simplemente donde se busca una
                    segunda opción de abastecimiento.
                </h1>
                <a class="btn btn-primary mb-5" href="/about-us">Conocer más</a>
            </div>
        </div>
    </div>
</section>

<section class="home-services pt-3 pb-5">
    <div class="bg-services">
        <div class="text-center text-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="services-title">Nuestros Servicios</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pt-4">
            <div class="col-lg-6">
                <div class="content-container">
                    <h3>Concesiones de agua</h3>
                    <p>Le ayudamos con sus trámites ante Dirección de Aguas de MINAE:</p>
                    <ul>
                        <li>Concesiones de aprovechamiento de nacientes, quebradas y pozos</li>
                        <li>Permisos de perforación</li>
                        <li>Traspaso de concesión</li>
                        <li>Renovación de concesión</li>
                        <li>Desglose de caudal</li>
                        <li>Concesión generación de energía hidroeléctrica</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content-container">
                    <h3>Pozos profundos</h3>
                    <p>Le asesoramos en la ubicación, construcción y aprovechamiento de aguas subterránea mediante la
                        perforación de pozos profundos. Realizamos:</p>
                    <ul>
                        <li>Limpieza de pozos</li>
                        <li>Inspección con cámara sumergible</li>
                        <li>Instalación, revisión y reparación de equipo de bombeo</li>
                        <li>Instalación de hidrómetros</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="content-container">
                    <h3>Pozos artesanales</h3>
                    <p class="paragraph-size">
                        Asesoramos en la ubicación, excavamos y construimos pozos artesanales que cumplan con los
                        requisitos técnicos para la inscripción cuando se trata de uso doméstico o concesión de agua
                        para cualquier otro uso.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="content-container">
                    <h3>Más de nuestros servicios</h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <ul>
                                <li>Consulta de afectaciones</li>
                                <li>Alineamiento Fluvial ante INVU</li>
                                <li>Trámites D1 y D2 ante SETENA</li>
                                <li>Estudios hidrológicos e hidrogeológicos</li>
                                <li>Diseño y construcción de acueductos residenciales</li>
                                <li>Construcción de obras calibradoras</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <ul>
                                <li>Captación y derivación de agua superficial</li>
                                <li>Reconsideración de zona de protección de cauces</li>
                                <li>Trámites de vertido de agua residual</li>
                                <li>Trámites de exoneración de alcantarillado sanitario</li>
                                <li>Cierre técnico de pozos</li>
                                <li>Muestreo de aguas</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-contact-bar></app-contact-bar>

<app-footer></app-footer>