<app-navbar></app-navbar>

<main class="mb-5">
    <div class="text-center banner">
        <h1>{{'projects.title' | translate }}</h1>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="mx-auto">
                    <div id="carouselExampleIndicators2" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img loading="lazy" src="../../../assets/img/carousel-images/projects/pj2/pj2_img1.jpeg" class="img-fluid"
                                    alt="Carousel Image">
                            </div>
                            <div class="carousel-item">
                                <img loading="lazy" src="../../../assets/img/carousel-images/projects/pj2/pj2_img2.jpeg" class="img-fluid"
                                    alt="Carousel Image">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="project-details">
                    <h2>{{'projects.p1' | translate }}</h2>
                    <div>{{'projects.location' | translate }}: Guápiles, Limón</div>
                    <div>{{'projects.year' | translate }}: 2021</div>
                </div>
            </div>
        </div>
        <hr class="mt-5 mb-5">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div id="carouselExampleIndicators1" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img loading="lazy" src="../../../assets/img/carousel-images/projects/pj1/pj1_img1.jpeg" class="img-fluid"
                                alt="Carousel Image">
                        </div>
                        <div class="carousel-item">
                            <img loading="lazy" src="../../../assets/img/carousel-images/projects/pj1/pj1_img2.jpeg" class="img-fluid"
                                alt="Carousel Image">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="project-details">
                    <h2>{{'projects.p2' | translate }}</h2>
                    <div>{{'projects.location' | translate }}: Ciudad Cortés, Puntarenas</div>
                    <div>{{'projects.year' | translate }}: 2021</div>
                </div>
            </div>
        </div>
        <hr class="mt-5 mb-5">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div id="carouselExampleIndicators3" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img loading="lazy" src="../../../assets/img/carousel-images/projects/pj4/pj4_img1.jpeg" class="img-fluid"
                                alt="Carousel Image">
                        </div>
                        <div class="carousel-item">
                            <img loading="lazy" src="../../../assets/img/carousel-images/projects/pj4/pj4_img2.jpeg" class="img-fluid"
                                alt="Carousel Image">
                        </div>
                        <div class="carousel-item">
                            <img loading="lazy" src="../../../assets/img/carousel-images/projects/pj4/pj4_img3.jpeg" class="img-fluid"
                                alt="Carousel Image">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="project-details">
                    <h2>{{'projects.p3' | translate }}</h2>
                    <div>{{'projects.location' | translate }}: Dominicalito, Puntarenas</div>
                    <div>{{'projects.year' | translate }}: 2020</div>
                </div>
            </div>
        </div>
        <hr class="mt-5 mb-5">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <img loading="lazy" src="../../../assets/img/carousel-images/projects/pj3/pj3_img1.jpeg" class="img-fluid" alt="Carousel Image">
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="project-details">
                    <h2>{{'projects.p4' | translate }}</h2>
                    <div>{{'projects.location' | translate }}: Pérez Zeledón, San José</div>
                    <div>{{'projects.year' | translate }}: 2021</div>
                </div>
            </div>
        </div>
        <hr class="mt-5 mb-5">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div id="carouselExampleIndicators4" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img loading="lazy" src="../../../assets/img/carousel-images/projects/pj5/pj5_img1.jpeg" class="img-fluid"
                                alt="Carousel Image">
                        </div>
                        <div class="carousel-item">
                            <img loading="lazy" src="../../../assets/img/carousel-images/projects/pj5/pj5_img2.jpeg" class="img-fluid"
                                alt="Carousel Image">
                        </div>
                        <div class="carousel-item">
                            <img loading="lazy" src="../../../assets/img/carousel-images/projects/pj5/pj5_img3.jpeg" class="img-fluid"
                                alt="Carousel Image">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators4"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators4"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="project-details">
                    <h2>{{'projects.p5' | translate }}</h2>
                    <div>{{'projects.location' | translate }}: La Unión, Cartago</div>
                    <div>{{'projects.year' | translate }}: 2021</div>
                </div>
            </div>
        </div>
    </div>
</main>

<app-contact-bar></app-contact-bar>

<app-footer></app-footer>