<app-navbar></app-navbar>

<header class="header">
    <h1 class="text-white text-center">{{'about.title'| translate}}</h1>
</header>

<section class="about-content">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="initial-paragraph">
                    <h2 class="mb-4">KSC Water Key Solutions S.A</h2>
                    <p class="text-center"> 
                        {{'about.tx-about'| translate}}
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mt-5 mb-5">
            <div class="col-lg-2">
                <div class="content-container">
                    <img loading="lazy" src="../../../assets/img/about-us-icons/mision.png" alt="Mision Icon">
                </div>
            </div>
            <div class="col-lg-10">
                <div class="cont">
                    <h2 class="mb-3">{{'about.mision-title'| translate}}</h2>
                    <p>{{'about.mision-tx'| translate}}</p>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-lg-2">
                <div class="content-container">
                    <img loading="lazy" src="../../../assets/img/about-us-icons/vision.png" alt="Vision Icon">
                </div>
            </div>
            <div class="col-lg-10">
                <div class="cont">
                    <h2 class="mb-3">{{'about.vision-title'| translate}}</h2>
                    <p>{{'about.vision-tx'| translate}}</p>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-lg-2">
                <div class="content-container">
                    <img loading="lazy" src="../../../assets/img/about-us-icons/values.png" alt="Business Values Icon">
                </div>
            </div>
            <div class="col-lg-10">
                <div class="cont">
                    <h2 class="mb-3">{{'about.values-title'| translate}}</h2>
                    <ul>
                        <li>{{'about.value1'| translate}}</li>
                        <li>{{'about.value2'| translate}}</li>
                        <li>{{'about.value3'| translate}}</li>
                        <li>{{'about.value4'| translate}}</li>
                        <li>{{'about.value5'| translate}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<app-contact-bar></app-contact-bar>

<app-footer></app-footer>