.header{
    background-image: url("../../../assets/img/backgrounds/about-bg.jpg");
    background-position: center;
    background-size: cover;
    padding: 5.5rem 0;
}

.header h1{
    font-size: 2rem;
    font-weight: 400;
}

.initial-paragraph h2{
    text-align: center;
}

.initial-paragraph p{
    font-weight: 200;
    line-height: 2.2rem;
    font-size: 1.1rem;
    
}

.about-content{
    margin: 0 auto;
    width: 75%;
}

.about-content h2{
    font-size: 1.5rem;
    font-weight: 400;
}

.content-container p{
    padding: 0 1.2rem;
    line-height: 1.8rem;
    font-weight: 200;
}

.business-values{
    text-align: center;
} 

.business-values h3{
    font-weight: 400;
    font-size: 1.5rem;
} 

.business-values ul li{
    list-style: none;
    margin-bottom: 1.3rem;
    font-weight: 200;
} 

.business-values ul{
    padding: 0;
} 

.cont {
    margin-left: 2.5rem;
}

.cont h2{
    font-weight: 400;
}

.cont p, .cont ul li{
    font-weight: 200;
    line-height: 1.8rem;
}

.cont p{
    text-align: justify !important;
}

.cont ul{
    padding-left: 1rem;
}

@media (max-width: 1215px) {
    .cont {
        margin-left: 4rem;
    }
}

@media (max-width: 991px) {
    .cont {
        margin: 2rem 0 0 0;
        text-align: center;
    }

    .cont ul {
        list-style: none;
        padding-left: 0;
    }

    .cont ul li:first-of-type {
        margin-top: 2rem;
    }

    .cont ul li {
        margin-bottom: 1.1rem;
    }

    img{
        display: block;
        margin: auto;
    }

    p{
        margin-bottom: 0;
    }

    .about-content{
        width: 95%;
    }
}