<app-navbar></app-navbar>

<header class="header">
    <h1 class="text-white text-center">About Us</h1>
</header>

<section class="about-content">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="initial-paragraph">
                    <h2 class="mb-4">KSC Water Key Solutions S.A</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Harum voluptas explicabo perferendis alias rem exercitationem animi illo aspernatur,
                        ipsa, sapiente saepe provident unde possimus beatae incidunt recusandae. Facere, eius ea.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Harum voluptas explicabo perferendis alias rem exercitationem animi illo aspernatur,
                        ipsa, sapiente saepe provident unde possimus beatae incidunt recusandae. Facere, eius ea.</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mt-5 mb-5 text-center">
            <div class="col-lg-4">
                <div class="content-container">
                    <img src="../../../assets/img/mision-icon.png" alt="">
                    <h2 class="mt-4 mb-4">Mision</h2>
                    <p> Offer comprehensive solutions to different needs related to
                        the use and exploitation of surface and underground water
                        in Costa Rica, either with the proper management of existing
                        water sources or in the assessment and construction of new sources.
                        We work diligently to guide our clients to make the right decisions
                        in relation to water, which contribute to the functionality and
                        design of their projects, without major complications.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="content-container">
                    <img src="../../../assets/img/eye-icon.png" alt="">
                    <h2 class="mt-4 mb-4">Vision</h2>
                    <p>Consolidate ourselves as a leading company in services for
                        the use of water and its sources, both in the management of
                        water as a fragile resource, legally protected, and in its
                        correct management in the operational phase of use.
                        Our commitment is to be recognized for professionalism,
                        for the quality of our services and for our contribution
                        to sustainable development.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="business-values">
                    <img src="../../../assets/img/value-icon.png" alt="">
                    <h3 class="mt-4 mb-4">Business Values</h3>
                    <ul>
                        <li>Social and environmental <span style="display: block; margin-top: 0.3rem;">responsibility</span> </li>
                        <li>Professionalism</li>
                        <li>Constancy</li>
                        <li>Closeness</li>
                        <li>Ethics</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<app-contact-bar></app-contact-bar>

<app-footer></app-footer>