<app-navbar></app-navbar>

<header>
    <h1>About Us</h1>
</header>

<section class="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Mision</h2>
                <p> Offer comprehensive solutions to different needs related to
                    the use and exploitation of surface and underground water
                    in Costa Rica, either with the proper management of existing
                    water sources or in the assessment and construction of new sources.
                    We work diligently to guide our clients to make the right decisions
                    in relation to water, which contribute to the functionality and
                    design of their projects, without major complications.</p>
            </div>
            <div class="col-lg-6">
                <h2>Vision</h2>
                <p>Consolidate ourselves as a leading company in services for
                    the use of water and its sources, both in the management of
                    water as a fragile resource, legally protected, and in its
                    correct management in the operational phase of use.
                    Our commitment is to be recognized for professionalism,
                    for the quality of our services and for our contribution
                    to sustainable development.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Business Values</h3>
                <ul>
                    <li>Closeness</li>
                    <li>Constancy</li>
                    <li>Social and environmental responsibility</li>
                    <li>Professionalism</li>
                    <li>Ethics</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<app-contact-bar></app-contact-bar>

<app-footer></app-footer>