.contact-bar{
    background-image: url("../../../assets/img/backgrounds/contact-bg.jpg");
    background-position: center;
    background-size: cover;
    font-weight: 300 !important;
    padding: 5rem;
}

@media (max-width: 835px) {
    .contact-bar{
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

.contact-text{
    display: flex;
    align-items: center;
}

.contact-text a{
    margin: 0 auto;
}

.contact-button{
    padding: 1rem 1rem;
    text-decoration: underline;
}

@media (max-width: 990px) {
    .contact-button{
        padding: 0.8rem 1rem;
    }
}

@media (max-width: 770px) {
    .contact-text{
        display: block;
        text-align: center;
    }
    .contact-text h3, .contact-text p{
        margin-bottom: 2rem;
    }
}