<section class="contact-bar text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h3>¡Contact with us!</h3>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-6 col-md-12">
                <p>
                    Déjenos sus dudas o comentarios y con gusto le atenderémos.
                </p>
            </div>
            <div class="col-lg-6 col-md-12 text-center">
                <a class="btn btn-success btn-md p-3 contact-button" 
                    href="/contact">Click Here</a>
            </div>
        </div>
    </div>
</section>